.player {
  &__header, &__toolbar {
    @apply fixed flex items-center justify-between inset-x-0 text-white px-4;
  }

  &__header {
    @apply top-0 py-2 bg-gray-800;
  }

  &__header__icon {
    @apply rounded-full p-3 cursor-pointer;

    &:hover {
      @apply bg-gray-600;
    }
  }
  
  &__list-item.file, &__list-item.directory > .label {
    @apply w-full flex items-center py-2 px-3 border-b border-b-gray-600 cursor-pointer;

    span {
      @apply truncate;
    }
  }

  &__list-item:focus {
    @apply bg-blue-900 text-gray-100;
  }

  &__list-item.file[data-active] {
    @apply bg-gray-800 border-b-gray-800 font-bold;
  }

  &__list-item.directory {
    @apply flex-col;

    &[data-active] .label + div {
      @apply pl-2 ml-4 border-l border-l-gray-600;
    }
  }

  &__toolbar {
    @apply transition-transform flex-wrap bottom-0 pt-3 pb-1 text-white bg-gray-800;
    transform: translateY(120%);

    &[data-show] {
      transform: translateY(0);
    }

    audio {
      @apply hidden;
    }

    &__label {
      @apply text-sm italic text-gray-300;
    }

    &__control {
      @apply p-2 rounded;

      &:hover {
        @apply bg-black;
      }
    }
  }

  &__overlay {
    @apply fixed flex justify-center items-center inset-0 bg-black pb-[88px];
  
    &__close {
      @apply absolute top-4 right-4 cursor-pointer z-10;
    }

    video {
      @apply w-full h-auto max-w-full max-h-full;
    }
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes bouncing-text {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-50%);
  }
}